# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# JetBrains (PyCharm)
.idea/

# VS Code
.vscode/

# OS
.DS_Store

# Logs
*.log
